<h1>Available events</h1>

<% past = []%>
<% future = []%>
<% @events.each do |e| %>
    <% if Date.parse(e.date) > Date.today %>
        <% future << e %>
    <% else %>
        <% past << e %>
    <% end %>
<% end %>

<h2> Past events </h2>
<ul>
<div><% past.each do |e| %></div>
    <li><%= e.title %></li>
    <div><%= link_to "See event", event_path(e.id)%></div><br>
<% end %>
</ul>

<h2> Future events </h2>
<ul>
<div><% future.each do |e| %></div>
    <li><%= e.title %></li>
    <div><%= link_to "See event", event_path(e.id)%></div><br>
<% end %>
</ul>